.btn {
    padding: 10px 24px;
    border-radius: 50px;
    font-weight: 600;
    cursor: pointer;
    transition: var(--transition);
    border: none;
    font-size: 16px;
}

.btn-outline {
    border: 2px solid var(--primary);
    background: transparent;
    color: var(--primary);
}

.btn-outline:hover {
    background-color: var(--primary-light);
}

.btn-primary {
    background: linear-gradient(90deg, var(--primary), #01c8ff);
    color: var(--white);
    box-shadow: 0 4px 12px rgba(1, 184, 224, 0.3);
}

.btn-primary:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 18px rgba(1, 184, 224, 0.4);
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -o-transform: translateY(-2px);
}