header {
    background-color: var(--white);
    box-shadow: var(--shadow);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.auth-buttons {
    display: flex;
    gap: 15px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 28px;
    font-weight: 800;
    color: var(--primary);
}

.logo img {
    height: 50px;
}

.logo-text {
    background: linear-gradient(90deg, var(--primary), #01c8ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: var(--text);
    font-weight: 500;
    transition: var(--transition);
    padding: 8px 0;
    position: relative;
}

nav a:hover:after {
    width: 100%;
}

.mobile-menu-btn {
    display: none;
}

@media (max-width: 992px) {
    nav ul {
        display: none;
    }
    .auth-buttons {
        display: none;
    }
    .mobile-menu-btn {
        display: block;
        font-size: 24px;
        color: var(--primary);
        background: none;
        border: none;
        cursor: pointer;
    }
}